// Les font-faces

@font-face{
        font-family : "aflfont";
        src: url("../fonts/aflfont.ttf") format("truetype");
}

@font-face{
        font-family : "BaroqueScript";
        src: url("../fonts/BaroqueScript.ttf") format("truetype");
}
