// Les imports
@import "mixins.scss";
@import "variable.scss";
@import "fontFace.scss";

// Général Sass
* {
        box-sizing: border-box;

        &:hover {
                transition: all .2s ease 0s;
        }
}

html {
        font-size: 62.5%;
        width: 100%;
        //mobile first
        body {
                margin: 0;
                padding: 0;
                font-size: 1.7rem;
                line-height: 1.4;
                text-align: center;
                background-image: url("../img/background.jpg");
                background-size: auto;
                color: $DarkGray;
                display: flex;
                flex-direction: column;
                min-height: 100vh;

                h1, h2, h3 {
                        color: $doré;
                        text-shadow: 0px 0px 10px $doré;
                        font-family: "aflfont";
                        vertical-align: middle;
                }

                a {
                        color: white;
                        text-decoration: none;
                }

                header{
                        .light{
                                font-family: "BaroqueScript";
                                display: flex;
                                flex-direction: column;

                                a {
                                        margin: 10px 0;
                                }

                                a:hover {
                                        text-shadow: 0px 0px 25px $doré;
                                }
                        }
                }

                .hide {
                        display: none;
                }

                #cookieAlert{
                        background-color: $doré;
                        padding: 1px 0;
                        color: black;
                }

                main {

                        background-size: cover;
                        flex: 1;

                        .welcome {
                                font-size: 25px;
                        }


                        #welcome {
                                padding-top: 15%;
                                color: $doré;
                                text-shadow: 0px 0px 25px $doré;
                        }

                        .small {
                                height: 50px;
                                width: 100px;
                                box-shadow: 2px 2px 12px $doré;
                        }

                        fieldset {
                                @include border(none);
                        }

                        img {
                                width: 250px;
                        }

                        h2 {
                                font-family: "BaroqueScript";
                        }

                        ul{
                                list-style: none;
                                padding: 0;
                        }

                        .skullsBackground{
                                background-color: #111111;

                                border: 2px outset black;
                                margin-top: 5px;

                                p {
                                        margin: 0;
                                        color: $doré;
                                        text-shadow: 0px 0px 25px $doré;
                                        display: flex;
                                        justify-content: space-between;

                                }

                                #html {
                                        background-color: black;
                                }

                                #css {
                                        background-color: black;
                                }

                                #php {
                                        background-color: black;
                                }

                                #javascript {
                                        background-color: black;
                                }

                                #mysql {
                                        background-color: black;
                                }

                                .rightSide {
                                        display: flex;
                                        flex-direction: row-reverse;
                                }
                        }
                }

                .captcha {
                        display: flex;
                        justify-content: center;
                        padding: 15px;
                }

                #skip, #likeSkip {
                        position: fixed;
                        right: 20px;
                        bottom: 20px;
                        border: solid white 0.5px;
                        padding: 10px;
                        background-color: black;
                        color: white;
                        text-transform: uppercase;
                }

                footer {

                        #mailSend{
                                position: relative;
                                top : -200px;
                                text-shadow: 0px 0px 25px $doré;
                        }

                        #social{

                                li{
                                        display: inline-block;
                                }
                                img{
                                        width: 30px;
                                        height: 30px;
                                }
                        }
                }

                @media screen and (min-width: 700px) {

                        header {
                                padding: 15px;

                                .light a{
                                        display: contents;
                                        margin-bottom: 20px;
                                }
                        }

                        main {

                                ul {
                                        padding: 0 15%;
                                }
                        }

                }

                @media screen and (min-width: 1024px){


                }
        }
}
