@font-face {
  font-family: "aflfont";
  src: url("../fonts/aflfont.ttf") format("truetype"); }
@font-face {
  font-family: "BaroqueScript";
  src: url("../fonts/BaroqueScript.ttf") format("truetype"); }
* {
  box-sizing: border-box; }
  *:hover {
    transition: all .2s ease 0s; }

html {
  font-size: 62.5%;
  width: 100%; }
  html body {
    margin: 0 5px;
    padding: 0;
    font-size: 1.7rem;
    line-height: 1.4;
    text-align: center;
    background-image: url("../img/background.jpg");
    background-size: auto;
    color: #A9A9A9; }
    html body h1, html body h2, html body h3 {
      color: #FFD700;
      text-shadow: 0px 0px 10px #FFD700;
      font-family: "aflfont";
      vertical-align: middle; }
    html body a {
      color: white;
      text-decoration: none; }
    html body header .light {
      font-family: "BaroqueScript";
      display: flex;
      flex-direction: column; }
      html body header .light a {
        margin: 10px 0; }
      html body header .light a:hover {
        text-shadow: 0px 0px 25px #FFD700; }
    html body .hide {
      display: none; }
    html body main {
      background-size: cover; }
      html body main .welcome {
        font-size: 25px; }
      html body main #welcome {
        padding-top: 15%;
        color: #FFD700;
        text-shadow: 0px 0px 25px #FFD700; }
      html body main .small {
        height: 50px;
        width: 100px;
        box-shadow: 2px 2px 12px #FFD700; }
      html body main fieldset {
        -webkit-border: none;
        -moz-border: none;
        -o-border: none;
        border: none; }
      html body main h2 {
        font-family: "BaroqueScript"; }
      html body main ul {
        list-style: none;
        padding: 0; }
      html body main .skullsBackground {
        background-color: #111111;
        border: 2px outset black;
        margin-top: 5px; }
        html body main .skullsBackground p {
          margin: 0;
          color: #FFD700;
          text-shadow: 0px 0px 25px #FFD700;
          display: flex;
          justify-content: space-between; }
        html body main .skullsBackground #html {
          background-color: black; }
        html body main .skullsBackground #css {
          background-color: black; }
        html body main .skullsBackground #php {
          background-color: black; }
        html body main .skullsBackground #javascript {
          background-color: black; }
        html body main .skullsBackground #mysql {
          background-color: black; }
        html body main .skullsBackground .rightSide {
          display: flex;
          flex-direction: row-reverse; }
    html body .captcha {
      display: flex;
      justify-content: center;
      padding: 15px; }
    html body #skip, html body #likeSkip {
      position: fixed;
      right: 20px;
      bottom: 20px;
      border: solid white 0.5px;
      padding: 10px;
      background-color: black;
      color: white;
      text-transform: uppercase; }
    html body footer #mailSend {
      position: relative;
      top: -200px;
      text-shadow: 0px 0px 25px #FFD700; }
    html body footer #social li {
      display: inline-block; }
    html body footer #social img {
      width: 30px;
      height: 30px; }
    @media screen and (min-width: 700px) {
      html body header {
        padding: 15px; }
        html body header .light a {
          display: contents;
          margin-bottom: 20px; }
      html body main ul {
        padding: 0 15%; } }

/*# sourceMappingURL=style.css.map */
